@using _19607040_ShopFashion.Help
@model _19607040_ShopFashion.Models.banner

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Chỉnh sửa Banner</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Tên", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.meta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.meta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.meta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Vị trí", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.order, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.order, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Ngày cập nhật", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.datebegin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.datebegin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            <input type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp,.jfif" />
                        </div>
                        <div class="col-md-4">
                            <img src="~/Content/upload/img/product/@Model.img" width="200px" />
                        </div>
                        @*<div class="col-md-10">
                                @Html.EditorFor(model => model.img, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                            </div>*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Hiển thị", htmlAttributes: new { @class = "control-label col-md-2" })
                        @{
                            bool hide = true;
                        }
                        @Html.CheckBoxFor(model => hide)
                        @*<div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.hide)
                                    @Html.ValidationMessageFor(model => model.hide, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.NoEncodeActionLink("<span class='fas fa-backspace'></span> Trở lại", "Index", "Index", "banners", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "btn btn-dark " })
                            <input type="submit" value="Lưu" class="btn btn-success" />
                        </div>
                    </div>
                </div>



                @*<div class="form-group">
                        @Html.LabelFor(model => model.link, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
                        </div>
                    </div>*@










            </div>
        </div>
    </div>
}

